<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flutter.socketio.example.zmk.com.socket_io_node2">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
